@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/OpenSans-Medium.ttf") format('TrueType');
  }
}

.opensans {
    font-family: "OpenSans";
}

.linearBg1 {
  background: #D25281;
  background: linear-gradient(90deg, rgba(210, 82, 129, 1) 0%, rgba(226, 106, 77, 1) 100%);
}

.shadow1 { 
  box-shadow: 10px 10px 34px -2px rgba(226,106,77,0.65);
  -webkit-box-shadow: 10px 10px 34px -2px rgba(226,106,77,0.65);
  -moz-box-shadow: 10px 10px 34px -2px rgba(226,106,77,0.65);
}