@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.oswald {
    font-family: "Oswald";
}

@layer base {
  @font-face {
    font-family: 'amore';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Amore\ Christmas.otf") format('otf');
  }
}

.amore {
    font-family: "amore";
}